/*****************************************  
[All Clients Box]
*****************************************/
.all-clients-box {
	.table__rows {

		font-size: 1em;
		overflow-y: auto;

		.table__row {
			justify-content: start;
			min-width: 700px;

			.row__cell {

				width: calc(60% / 3);
				max-width: (80% / 3);
				padding: 0 10px;
				overflow: hidden;
				text-overflow: ellipsis;
				
				&:first-child {
					width: 20%;
				}

				&:nth-child(2) {
					width: 30%;
				}
			}
		}
	}
}

//Media queries
@media(min-width: 768px) {
	.all-clients-box {
		.table__rows {
			.table__row {
				.row__cell {
					min-width: 80px;
				}
			}
		}
	}
}

@media(max-width: 767px) {
	.table-box {
		width: 100%;

		.table__rows {
			.table__row {
				padding: 5px 0;
			}
		}
	}
}

::-webkit-scrollbar-track
{
	background-color: $color-bg-white;
}

::-webkit-scrollbar
{
	width: 2px;
	height: 6px;
	background-color: $color-bg-white;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: $color-primary;
}