/*****************************************  
[Profile Box]
*****************************************/
.profile {

	&__avatar {
		height: 150px;
		width: 150px;
		margin: auto;
		overflow: hidden;
		box-shadow: $block-shadow;
		text-align: center;
		border-radius: 50%;
		background: $color-primary;
		display: flex;

		.user-name-initial {
			margin: auto;
			padding: 10px 0;
			color: $color-text-invert;
			font-size: 80px;
			font-weight: 700;
		}
	}

	&__avatar-caption {
		.avatar-caption__heading {
			font-weight: 700;
			font-size: 18px;
		}
	}
	
	&__info {

		.info__group-title {
	    margin-bottom: 5px;
	    font-size: 17px;
	    color: #8a8a8a;
		}

		.form-group {

			.info__title {
				min-width: 90px;
		    text-align: right;
		    padding-right: 10px;
			}

			&.balance {
				> label,
				> p {
					color: $color-accent;
					font-weight: 700;
				}
			}
		}

		.profile__static-info {
			label {
				cursor: default;
			}
		}

		.info__data {
			color: #555;
		}
	}
}


@media(min-width: 768px) {
	.profile {

		&__info-wrapper {
			border-left: 1px solid $color-border;

			.form-group {
				padding-left: 20px;
			}
		}
	}
}

@media(max-width: 767px) {
	.profile {

		&__avatar-wrapper {
			border-bottom: 1px solid $color-border;
			max-width: 300px;
			margin: auto;
			float: none;
		}
	}
}