/*****************************************  
[Form Component]
*****************************************/
.login-box {
	max-width: 390px;
	margin: 20px auto;
	float: none;
	clear: both;
	@extend %component;

	.form-group {
		margin-bottom: 3px;
		color: $color-text-weak;
		position: relative;

			&--options {
				color: $color-text;
				margin: 20px 0 0;
			} // options: i.e Rememmber Me, Agree, etc.
		
		.fa {
			position: absolute;
			transform: translate(-50%, -50%);	
			left: 6%;
			top: 50%;

			&+.form-control {
				padding-left: 40px;
			}
		}

		.helper {
			color: $color-primary;
			text-decoration: underline;
			position: absolute;
			transform: translate(50%, -50%);
			right: 11%;
			top: 50%;
			font-weight: 600;
		}
	} // form group

	.form-control {
		border-radius: $br-lv1;
		height: $input-height;

		&.submit {
			margin: 20px 0 0;
			border-radius: $br-lv1;
			background: $color-bg-invert;
			text-transform: uppercase;
			border-color: $color-bg-invert;

			&:hover {
				background: $color-bg-invert-hover;
			}
		}
	} // form control
} // form block